# My cmake build directory
/build

# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Sphinx-build artifacts
/user-docs/_build/doctrees

#
# Ignore artifacts from editors, patching, etc.
#
*~
*.bak
\#*\#
.\#*
.*.swp
*.orig
*.rej
gmon.out
core
*.safe
*.sav*
.directory
TEST-DATA
SAV*
OLD*

